html {
  box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  max-height: 500px;
  position: relative;
  overflow: hidden;
}

.banner-content {
  position: absolute;
  bottom: 1.5rem;
  left: 10%;
  top: 0;
  transform: translateX(-50%);

}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

.banner-image {
  float: left;
}

.text-button {
  float: right;
}

.img-flex {
  display: block;
  width: 100%;
}

.btn {
  display: inline-block;
  padding: .5em 1em;
  border-radius: 8px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  font-size: 1.125rem;
}

.btn:hover {
  background-color: #000;
}

.btn-big {
  font-size: 1.5rem;
}
